section {
    height: 500px;
    width: 500px;
    background-color: magenta;
}

#rgba {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, .5);
}

#opacity {
    height: 50%;
    width: 50%;
    background-color: aqua;
    opacity: .5;
}