* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: sans-serif;
  padding-top: 3rem;
}

.container {
  width: 62rem;
  margin: 0 auto;
  position: relative;
}

.product {
  border: 4px solid black;
}

.product > h5 {
  color: white;
  background-color: red;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  position: absolute;
  left: -2rem;
  top: -0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.5rem;
}

strong {
  font-family: "Patua One", cursive;
}

.shipping {
  font-size: 0.8rem;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
}

.desc {
  font-size: 1.2rem;
  font-weight: 700;
  color: #444;
  padding-bottom: 2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}

.info {
  font-size: 1rem;
  font-weight: 700;
}

.info:link,
.info:visited {
  color: black;
}

.info:hover,
.info:active {
  text-decoration: none;
  color: red;
}

.info:active {
  color: green;
}

/* ***************challenge 3*************** */

.box-container div {
  height: 30px;
  width: 30px;
  color: #1098ad;
}

.box-container div:nth-child(1) {
  background-color: black;
}

.box-container div:nth-child(2) {
  background-color: blue;
}

.box-container div:nth-child(3) {
  background-color: red;
}

.box-container div:nth-child(4) {
  background-color: yellow;
}

.box-container div:nth-child(5) {
  background-color: greenyellow;
}

.box-container div:nth-child(6) {
  background-color: brown;
}

.details {
  list-style: square;
  font-weight: 700;
}

.details li {
  line-height: 2rem;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.cart {
  background-color: black;
  color: white;
  /*   border-radius: 8%; */
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 3rem;
}

.cart:hover {
  background-color: green;
  color: black;
  transition: 0.3s;
}

.home {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.prod-detail ul {
  padding-left: 2rem;
}

.prod-detail h3 {
  font-family: "Patua One", cursive;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

/* FLOAT */
/* .image {
  height: 20rem;
  width: 20rem;
  float: left;
}

.first-column {
  width: 20rem;
  float: left;
  padding-left: 1.5rem;
}

.prod-detail {
  width: 20rem;
  float: right;
  padding-right: 1.5rem;
}

.price {
  float: left;
}

.shipping {
  float: right;
  padding-top: 0.5rem;
}

.desc {
  clear: both;
} */

/* ****flex**** */
.row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  /* align-items: center; */
}

.row > div {
  padding-top: 1rem;
}

.prod-img img {
  width: 100%;
  height: 19rem;
}

.prod-img {
  display: flex;
  flex: 0 0 19rem;
}

.prod-detail {
  flex: 0 0 19rem;
}

.first-column {
  flex: 0 0 19rem;
}

.first-column div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-container {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
